*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 140, 152);
    font-family: 'Pacifico', cursive;

}

.container{
    height: 80vh;
    width: 100vh;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  border-style: solid;
  border-color: red;
  box-shadow: inset -8px -8px 12px rgb(218, 110, 110),
  inset 8px 8px 12px rgb(233, 39, 39);
  border-radius: 50px;


}

.content{

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.content h3{
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Balsamiq Sans', cursive;
}

/* .textarea{
    display: flex;
}

.textarea input{
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 5px;
    outline: none;
} */

.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ 
      
    outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#800808;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#d31d20; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }

  .content p{

    padding: 5px 0px 0px 0px;
  }

  .content button{
      margin-bottom: 20px;
  }

  @media only screen and (max-width: 768px){

    .container{
        width: 100%;
    }
      
  }